.encore-listings {
  h2, p {
    white-space: normal;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .ui-link-inherit {
    padding-right: 70px !important;
  }
}

.ui-icon-backred {
  width: 58px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  background-image: url('/assets/setlist/back.png');
}

.ui-icon-buybutton1 {
  width: 49px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  background-image: url('/assets/setlist/buybutton.png');
}

.ui-icon-itunes {
  top: 45% !important;
  width: 55px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  background-image: url('http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_itunes-lrg.png');
  background-size: 55px 20px;
}