.encore-listings {
  h2, p {
    white-space: normal;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.ui-icon-backred {
  width: 58px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  background-image: url('/assets/setlist/back.png');
}

.ui-icon-buybutton1 {
  width: 49px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  background-image: url('/assets/setlist/buybutton.png');
}