/* DEFAULTS */

/* Needed to use root ems */
html {
  font-size: 62.5%; // see http://snook.ca/archives/html_and_css/font-size-with-rem
}

.ui-body-c {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

/* MIXINS */

/* Used to create a div for making a white border around image */
@mixin encore-circle($width, $border-width) {
  width: $width;
  height: $width;
  border: solid $border-width white;

  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;

  overflow: hidden;
}

/* BUTTONS */

a[data-role="button"][data-theme="reset"] {
  border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
  box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;
  text-decoration: none;
}

a[data-role="button"][data-theme="reset"] .ui-btn-inner {
  color: white;
  overflow: visible;
  text-shadow: 0 -1px 0 #000;
  padding-left: 0px !important;
  padding-right: 39px !important;
  padding-top: 19px;
  border: 0px solid #333;
  border-radius: 1px; -webkit-border-radius: 1px; -moz-border-radius: 1px;
  background: #333;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
}
	
a[data-role="button"][data-theme="reset"].app-theme-none .ui-btn-inner {
  color: #222;
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

a[data-role="button"][data-theme="reset2"] {
  border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
  box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;
  text-decoration: none;
}

a[data-role="button"][data-theme="reset2"] .ui-btn-inner {
  color: white;
  overflow: visible;
  text-shadow: 0 -1px 0 #000;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px;
  padding-bottom: 5px;
  border: 0px solid #333;
  border-radius: 1px; -webkit-border-radius: 1px; -moz-border-radius: 1px;
  background: #333;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
}
	
a[data-role="button"][data-theme="reset2"].app-theme-none .ui-btn-inner {
  color: #222;
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}