#profilecover {
  margin: -15px -15px 15px -15px; // stretch to entire body
  height: 90px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  padding: 5px;

  @include encore-background('/assets/profile/profileback.jpg');

  color: white;

  .profilepic {
    @include encore-circle(80px, 3px);
    float: left;
    margin-right: 15px;
  }

  .profiletext {
    p.name {
      margin-top: 0px;
      margin-bottom: 3px;

      font-size: 2.4rem;
      font-weight: bold;
      line-height: 3.0rem;
      text-shadow: 0px 2px 5px rgba(0,0,0,0.50);
    }

    img {
      float: left;
    }

    p.city {
      font-size: 1.4rem;
      margin: 0;
    }
  }
}

#concert-list {
  // hack to fix double shadow on last list item
  .ui-last-child {
    border-bottom-width: 0px !important;
  }

  .ui-li {
    @include linear-gradient(#FFFFFF, #DDDDDD);
    
    -moz-box-shadow:    0px 2px 4px 0 rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.50);
    box-shadow:         0px 2px 4px 0 rgba(0,0,0,0.50);

    margin-bottom: 15px;    

    img {
      width: 90px;
      height: 90px;
      margin: 5px;
      margin-top: 1px;
    }

    h3 {
      font-size: 1.8rem;
      color: rgba(74,74,74,1);
      margin-top: 0;
      margin-bottom: 5px;
      white-space: normal;
    }

    p.venue {
      font-size: 1.1rem;
      color: rgba(155,155,155,1);
      font-weight: bold;
    }

    p.date {
      font-size: 1.1rem;
      color: rgba(155,155,155,1);
    }
  }
}

#addmoretext {
  color: #9b9b9b;
  text-align: center;
  font-size: 2.0rem;
}

#facebooklogin {
  p {
    line-height: 3.0rem;
    text-align: center;
    color: rgba(155,155,155,1);

    img {
      display: inline;
      width: 18px;
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }
}