#concertheader {
  .concertcover {
    margin: -15px -15px 15px -15px;
    height: 80px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    padding: 5px;

    @include encore-background('/assets/stream/lumineers_background.jpg');

    img {
      position: absolute; // needed to overlay text underneath
      margin-right: 5px;

      width: 100px;
      height: 100px;
    }

    h2 {
      margin-left: 100px;
      margin-top: 8px;

      color: white;
      font-size: 2.6rem;
      text-shadow: 0px 2px 5px rgba(0,0,0,0.50);
    }
  }

  .concertinfo {
    background: #FFFFFF;
    -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);
    margin: -15px -15px 15px -15px;

    text-align: right;

    p {
      margin-left: 20px;
      padding-top: 3px;
      font-size: 1.3rem;
      font-weight: bold;
      color: #4A4A4A;
    }

    .ui-btn {
      width: 58px;
      height: 24px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      box-shadow: none;
    }

    .setlist {
      background-image: url('/assets/stream/setlist.png');
    }

    .backred {
      background-image: url('/assets/stream/back.png');
    }
  }
}

#concert-stream {
  max-width: 500px;

  .ui-li {
    @include linear-gradient(#E9E9E9, #FFFFFF);

    -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);

    padding: 0;
    height: 100%;
    margin-bottom: 15px;

    .profilepic {
      position: absolute;
      @include encore-circle(33px, 3px);
      margin: 3px;

      img {
        width: 33px;
        height: 33px;
      }
    }

    h3 {
      font-size: 1.9rem;
      color: #8A8A8A;
      margin-top: 12px;
      margin-left: 55px;
    }

    .heartpic {
      float: right;
      margin: 7px;
      height: 31px;
      width: 36px;
      @include encore-background('/assets/stream/heart.png');
    }

    .heartpic.on {
      @include encore-background('/assets/stream/heart-on.png');
    }

    p {
      margin: 0;

      img {
        width: 100%;
        margin-bottom: -3px; // get borders to line up
      }
    }
  }
}