<% cache ["v1", "facebook-popup"] do %>
<div data-role="popup" id="facebookPopup" data-theme="d" data-overlay-theme="b" style="max-width:340px">
  <h3>Welcome to Encore!</h3>
  <p>Sorry you need to be logged in to <%= image_tag 'stream/heart-on.png' %> your favourite content</p>

  <%= link_to image_tag("login/facebook.png"), user_omniauth_authorize_path(:facebook), data: {ajax: false} %>

  <p><small>(We'll never post anything to your timeline)</small></p>
  <p><a href="#" data-role="button" data-rel="back" data-theme="b" data-icon="delete" data-inline="true">Close</a></p>
</div>
<% end %>