<% cache ["profile-addshow"] do %>
  <li id="signupbutton">
    <a id="addConcert" href="#">
      <%= image_tag 'profile/boltprofile.png' %>
      <h3>Add an old concert...</h3>
      <p class="venue">See the best shots from your previous shows</p>
    </a>
  </li>
</ul>

  <div id="addPage" style="display:none;">
    <ul data-role="listview" data-inset="true" data-shadow="false" data-corners="false" id="concert-list">
      <li>
        <a href="#sorryPopup" id="addConcertDetails" data-rel="popup" data-position-to="window" data-transition="pop">
          <%= image_tag 'profile/boltprofile.png' %>
          <h3>Enter the details</h3>
          <p class="venue">Details</p>
        </a>
      </li>

      <li>
        <a href="#sorryPopup" id="addConcertStub" data-rel="popup" data-position-to="window" data-transition="pop">
          <%= image_tag 'profile/boltprofile.png' %>
          <h3>Scan a ticket stub</h3>
          <p class="venue">Details</p>
        </a>
      </li>
    </ul>
  </div>

  <div data-role="popup" id="sorryPopup" data-theme="d" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:1em;">
    <h3>Sorry!</h3>
    <p>This feature is currently down. </p>
    <a href="index.html" data-role="button" data-rel="back" data-theme="b" data-icon="delete" data-inline="true" data-mini="true"> Close </a>
  </div>
<% end %>