<% cache ["v1", "top-bar"] do %>
<div id="menu">
  <h2>Encore</h2>
  <ul>
    <% current = ENV["CURRENT_CONCERT_ID"]
       pages = []
       pages << ["Profile", "/profile"]
       pages << ["Live Stream", concert_path(current)]
       pages << ["Concert Listings", "/concert_listings"]
       pages << ["Deals", "/concerts/" + current + "/deals"]
       pages.each do |page| %>
    <li><%= link_to page[0], page[1], data: {transition: "none"}, onclick: "jPM.close()" %></li>
    <% end %>
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
  </ul>
</div>

<div data-role="header" id="top-bar">
  <a href="#menu" data-icon="bars" id="menu-trigger" class="menu-trigger">Menu</a>
  <div class="bolt"><%= image_tag "shared/bolt.png" %></div>
  <a data-icon="info">Info</a>
  <span class="ui-title" />
</div>
<% end %>