<div data-role="header" id="top-bar">
  <a href="#" data-icon="info" class="menu-trigger">Info</a>
  <a href="#">My Profile</a>
  <span class="ui-title" />
</div>

<ul id="menu" style="display: none;">
  <li>Test</li>
  <li>Test 2</li>
</ul>