<% cache ["v1", "login-page"] do %>
<div data-role="content" id="homepage">
  <%= image_tag "login/bolt2.png" %>

  <p>Welcome to the exclusive preview of Encore, your concert app.</p>

  <%= link_to image_tag("login/facebook.png"), user_omniauth_authorize_path(:facebook), data: {ajax: false} %>

  <%#= link_to "Twitter", user_omniauth_authorize_path(:twitter) %>

  <%#= link_to "Instagram", user_omniauth_authorize_path(:instagram) %>
</div> 
<% end %>