<div id="profilecover">
                  <table>
                <tr>
                    <td><%= image_tag "stream/passionpit.png", :class => "artistprofilepic" %></td>
                    <td class="artistprofilename"> <strong>Passion Pit</strong>
                    </td>
                </tr>
            </table>
        </div>
        <div id="concertinfo"><table><tr><td><div id="concertinfotext"> The Pheonix  |  May 13, 2013</td><td> <a href="index.html" data-role="button" data-theme="reset2" data-icon="setlist" class="ios app-theme-none notext"></td></table>
            </a></p>
</div>

<%= render @concert.posts %>