<div id="photobar">
  <table class="picturelabel">
    <tr>
      <td class="first">
        <%= image_tag post.user_image_url, :class => "contentpic" %>
      </td>
      <td>
        <div class="phototext"><%= post.user_name %></div>
      </td>
      <td class="last">
        <%= image_tag "stream/heart.png", :class => "heartpic" %>
      </td>
    </tr>
  </table>  
</div>

<div id="photo"><%= image_tag post.image_url, :class => "photostream" %></div>